.skills {
  background-image: url(../../../../assets/images/skills_bg.png);
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  padding-bottom: 80px;
  padding-top: 80px;
  position: relative;

  & .title__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
    & .title {
      color: #fcfcfd;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      letter-spacing: -0.72px;
      & span {
        color: #7790ed;
      }
    }
    & .subtitle {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.3px;
      width: 50%;
    }
  }
}
