.projects {
  padding-top: 97px;
  &_top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    & h2 {
      color: #344054;
      font-size: 56px;
      font-weight: 600;
      line-height: 68px;
      letter-spacing: -0.96px;
      width: 40%;
      & span {
        color: #7790ed;
      }
    }
  }
}
