.hero {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  &_top {
    position: relative;
    transition: 0.3s;
    z-index: 2;
  }
  & .comment_wrapper {
    transition: 0.3s;
    z-index: 3;

    & .comment {
      width: 320px;
      color: #344054;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.3px;
      margin-top: 24px;
    }
  }
  & .element_wrapper {
    display: flex;
    justify-content: center;
  }
  & .badge {
    margin: 0 auto;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 38.235px;
    border: 1.275px solid #171717;
    display: inline-flex;
    height: 45px;
    justify-content: center;
    padding: 12.745px 25.49px;
    position: relative;
    span {
      color: #171717;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.3px;
      &.icon {
        position: absolute;
        right: -10px;
        bottom: 40px;
      }
    }
  }
  & .title {
    color: #171717;
    text-align: center;
    font-size: 76px;
    font-weight: 600;
    line-height: 82px;
    letter-spacing: -1.433px;
    margin: 24px 0 64px;
    position: relative;
    & span {
      color: #7790ed;
      &.icon {
        position: absolute;
        left: 18%;
        bottom: -30%;
        transform: translate(-18%, 30%);
        transform: rotate(180deg);
      }
    }
  }
  & .circle {
    background: #7790ed;
    border-radius: 400px 400px 0 0;
    height: 400px;
    position: relative;
    width: 800px;
    & .user_avatar {
      bottom: -10%;
      left: 50%;
      object-fit: contain;
      position: absolute;
      transform: translateX(-50%);
      width: 320px;
      z-index: 2;
    }
  }
  & .img_hover {
    position: absolute;
    width: 800px;
    height: 800px;
    left: 50%;
    bottom: -8%;
    transform: translate(-50%, 100%);
    transition: 0.3s;
    z-index: 1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  & .hero_top,
  & .img_hover,
  & .comment_wrapper {
    will-change: transform;
  }
  &.hovered {
    & .hero_top {
      transform: translateY(1000px);
      pointer-events: none;
    }
    & .img_hover {
      transform: translate(-50%, 0%);
      pointer-events: none;
    }
    & .comment_wrapper {
      transform: translateY(-100%);
    }
  }
}
