.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 98px;
  overflow: hidden;
  &_inner {
    margin-bottom: 98px;
    width: 60%;
    & h1 {
      color: #344054;
      font-size: 64px;
      font-weight: 600;
      letter-spacing: -0.96px;
      line-height: 72px;
      text-align: center;
      & span {
        color: #7790ed;
      }
    }
  }
}

@media (max-width: 993px) {
  .contact {
    &_inner {
      margin-bottom: 98px;
      width: 80%;
      & h1 {
        font-size: 54px;
        line-height: 62px;
      }
    }
  }
}

@media (max-width: 480px) {
  .contact {
    &_inner {
      margin-bottom: 68px;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      & h1 {
        font-size: 48px;
        line-height: 58px;
      }
    }
  }
}
