.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 98px;
  overflow: hidden;
  &_inner {
    margin-bottom: 98px;
    width: 60%;
    & h1 {
      color: #344054;
      font-size: 64px;
      font-weight: 600;
      letter-spacing: -0.96px;
      line-height: 72px;
      text-align: center;
      & span {
        color: #7790ed;
      }
    }
  }
}
