.header {
  padding-top: 40px;
  &__inner {
    align-items: center;
    backdrop-filter: blur(7.5px);
    background-color: #171717;
    border-radius: 50px;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    & a {
      border-radius: 60px;
      padding: 20px 40px;
      transition: 0.3s;
      & span {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.3px;
      }
      &.main {
        background-color: #7790ed;
      }
      &:not(.main):hover {
        background-color: rgba(104, 104, 104, 0.2);
      }
    }
    & .logo__wrapper {
      align-items: center;
      display: flex;
      gap: 4px;
      transition: 0.3s;
      margin-left: 54px;
      & .visible {
        width: 150px;
        & h4 {
          color: #fff;
          font-weight: 800;
          font-size: 24px;
        }
      }
      & .hidden {
        height: 0;
        opacity: 0;
        width: 0;
        & p {
          color: #868a8f;
          font-size: 12px;
          line-height: normal;
          margin-bottom: 2px;
        }
        & h4 {
          color: #fff;
          font-size: 14px;
          font-weight: 700;
        }
      }
      &:hover {
        & .hidden {
          height: auto;
          opacity: 1;
          width: 150px;
        }
        & .visible {
          height: 0;
          opacity: 0;
          width: 0;
        }
        & .logo {
          transform: translateX(-8px);
        }
      }
    }
  }
}
