.project__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-top: 48px;
  & .title {
    align-items: center;
    display: flex;
    gap: 18px;
    & h2 {
      color: #344054;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: -0.72px;
    }
    & .redirect__btn {
      align-items: center;
      background: #7790ed;
      border-radius: 60px;
      display: flex;
      height: 46px;
      justify-content: center;
      padding: 10px;
      width: 46px;
    }
  }
  & p {
    color: #344054;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.3px;
    text-align: center;
    width: 60%;
  }
}
